*{
    border-style: none ;
}
body {
    overflow-x: hidden;
}
.column .callout{
    border-style: none;
    font-size: larger;
    border-style: none;
}
<<<<<<< HEAD
.column {
    width: 80%;
    
=======
.space {
    height: 10rem;
}

.box {
    width: 100%;
    height: 80%;
    margin-top: 1rem;
}


.container {
    width: 100vw;
    height: 80vh;
}

.larger {
    font-size: 200px;
}

.grid-container {
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
>>>>>>> bd9419e0228e2f07a19570827dd9e02a49fd311f
}